<!-- create page that show's the content of a specific song -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song Content Page</title>
 </head>
 <body>
    <h1><%= song.title %></h1>
 </body>
 </html>